.title-h3,
.title-h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.title-h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}
.title-h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #B3B3B3;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 10px;
	fill: #6B6B6B;
}
.axis.small text {
	font-size: 7px;
}

.divider {
	margin: 20px;
}

.sotsVisualWrapper {
	padding: 30px 0px;
}

.legendCircle {
  stroke-width:1;
  stroke:#999;
  stroke-dasharray:2 2;
  fill:none;
}

.legendLine {
	stroke-width: 1;
	stroke: #D1D1D1;
	shape-rendering: crispEdges;
}

.legendTitle {
	fill: #1A1A1A;
	color: #1A1A1A;
	text-anchor: middle;
	font-size: 10px;
}

.legendText {
	fill: #6B6B6B;
	color: #6B6B6B;
	text-anchor: start;
	font-size: 8px;
}

.dataresource.treemap {
  display: block;
  margin: auto;
}

.callout {
	text-anchor: start;
	font-size: 10px;
}

.chordText {
	font-size: 10px;
	fill: #575757;
	color: #575757;
	font-weight: 400;
}

.solidArc:hover {
  fill: #00A1DE ;
}

.solidArc {
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.popover {
	pointer-events: none;
}

.trendline {
	stroke: #D1D1D1;
	stroke-width: 1.5;
	pointer-events: none;
}